/* General CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    padding-top: 110px;
}
body{
    font-family: 'Old Standard TT', serif;
}
/* Navbar with elements */
.navbar{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}
.modal-body p{
    display: block;
}
.brand{
    font-size: 2.5rem;
    background: rgb(34,43,195);
    background: linear-gradient(90deg, rgba(34,43,195,1) 0%, rgba(181,45,253,1) 100%);
    padding: 5%;
    border-radius: 20px 20px;
    transition: all 0.3s ease-in-out;
}
.brand:hover{
    font-size: 2.7rem;
}
/* Carousel slider */
.carousel-item img{
    height: 40vw;
    object-fit: cover;
}
@media screen and (min-width: 1200px) {
    .img1{
        object-position: 0 -450px;
    }
    .img3{
        object-position: 0 -500px;
    }
    
}
#slidersection{
    margin-top: 57px;
}
/* Gallery */
.imgbox{
    overflow: hidden;
}
.galimg{
    transition: all 0.5s ease-in-out;
}
.galimg:hover{
    transform: scale(1.1);
}
/* Footer */
footer{
    background-color: rgb(163, 221, 255);
}
i{
    padding: 5px;
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
    border-radius: 10px 10px;
}
i:hover{
    border-color: black;
}

